<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
 Copyright 2008-2015 Jo-Philipp Wich <jow@openwrt.org>
 Copyright 2017 Stan Grishin <stangri@melmac.net>
 Licensed to the public under the Apache License 2.0.
-%>

<%+header%>

<h2 name="content"><%:Reboot%></h2>
<br />

<p><%:Reboots the operating system of your device.%></p>

<%- local c = require("luci.model.uci").cursor():changes(); if c and next(c) then -%>
	<p class="alert-message warning"><%:Warning: There are unsaved changes that will get lost on reboot!%></p>
<%- end -%>

<%- if device_name then -%>
<br />
<p><%:This device%><%=" (" .. device_name .. ") " %><%:has following partitions:%></p>
<p><%- if boot_envvar1_partition_one == current_partition then -%><strong><%- end -%><%:Partition%><%=" " .. boot_envvar1_partition_one .. ": " .. partition_one_os %><%- if boot_envvar1_partition_one == current_partition then -%><%=" ("%><%:active%><%=")"%></strong><%- end -%></p>
<p><%- if boot_envvar1_partition_two == current_partition then -%><strong><%- end -%><%:Partition%><%=" " .. boot_envvar1_partition_two .. ": " .. partition_two_os %><%- if boot_envvar1_partition_two == current_partition then -%><%=" ("%><%:active%><%=")"%></strong><%- end -%></p>
<%- end -%>

<hr />

<script type="text/javascript">//<![CDATA[
	var tries = 0;

	function ok() {
		window.location = '<%=controller%>/admin';
	}

	function check() {
		if (tries++ < 12)
			window.setTimeout(ping, 5000);
		else
			alert('<%:Device unreachable%>');
	}

	function ping() {
		var img = document.createElement('img');

		img.onload = ok;
		img.onerror = check;
		img.src = '<%=resource%>/icons/loading.gif?' + Math.random();

		document.getElementById('reboot-message').innerHTML = '<%:Waiting for device...%>';
	}

  function reboot(button) {
		button.style.display = 'none';
		document.getElementById('reboot-message').parentNode.style.display = '';

		(new XHR()).post('<%=controller%>/admin/system/reboot/call', { token: '<%=token%>' }, check);
	}

  function altreboot(button) {
		button.style.display = 'none';
		document.getElementById('reboot-message').parentNode.style.display = '';

		(new XHR()).post('<%=controller%>/admin/system/reboot/altcall', { token: '<%=token%>' }, check);
	}

function poweroff(button) {
  button.style.display = 'none';
  document.getElementById('poweroff-message').parentNode.style.display = '';

  (new XHR()).post('<%=controller%>/admin/system/reboot/poweroff', { token: '<%=token%>' }, check);
}
//]]></script>

<input class="cbi-button cbi-button-apply" type="button" value="<%:Perform reboot%>" onclick="reboot(this)" />
<%- if device_name then -%>
<input class="cbi-button cbi-button-apply" type="button" value="<%:Perform reboot to partition:%><%=" " .. other_partition%>" onclick="altreboot(this)" />
<%- end -%>
<%- if nixio.fs.access("/sbin/poweroff") then -%>
<input class="cbi-button cbi-button-apply" type="button" value="<%:Perform power off%>" onclick="poweroff(this)" />
<%- end -%>

<p class="alert-message" style="display:none">
	<img src="<%=resource%>/icons/loading.gif" alt="<%:Loading%>" style="vertical-align:middle" />
	<span id="reboot-message"><%:Device is rebooting...%></span>
</p>

<p class="alert-message" style="display:none">
	<img src="<%=resource%>/icons/loading.gif" alt="<%:Loading%>" style="vertical-align:middle" />
	<span id="poweroff-message"><%:Device is powering off...%></span>
</p>

<%+footer%>
